USE [master]
GO
/****** Object:  Database [CommunityMedicineDB]    Script Date: 04/02/2015 10:48:42 ******/
CREATE DATABASE [CommunityMedicineDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommunityMedicineDB', FILENAME = N'D:\FTFL Projects\final_team_engine_box\CommunityMedicineSystem\DB\CommunityMedicineDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CommunityMedicineDB_log', FILENAME = N'D:\FTFL Projects\final_team_engine_box\CommunityMedicineSystem\DB\CommunityMedicineDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommunityMedicineDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommunityMedicineDB]
GO
/****** Object:  Table [dbo].[tbl_center]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_center](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[district_id] [int] NULL,
	[thana_id] [int] NULL,
 CONSTRAINT [PK_tbl_center] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_center_login]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_center_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[center_id] [int] NULL,
	[center_code] [varchar](20) NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_center_login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_disease]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_disease](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[description] [varchar](500) NULL,
	[treatment_procedure] [varchar](500) NULL,
	[preferred_drug] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_disease] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_district]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_district](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NULL,
	[population] [int] NULL,
 CONSTRAINT [PK_tbl_district] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_doctor]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_doctor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[degree] [varchar](100) NULL,
	[specialization] [varchar](50) NULL,
	[center_id] [int] NULL,
 CONSTRAINT [PK_tbl_doctor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_medicine]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_medicine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[power] [float] NULL,
	[type] [varchar](2) NULL,
 CONSTRAINT [PK_tbl_medicine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_medicine_stock_center]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_medicine_stock_center](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[center_id] [int] NULL,
	[medicine_id] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_tbl_medicine_stock] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_patient]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_patient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voter_id] [bigint] NOT NULL,
	[district_id] [int] NOT NULL,
 CONSTRAINT [PK__tbl_pati__3213E83F01B9F24A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_service_taken]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_service_taken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_thana]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_thana](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[district_id] [int] NULL,
 CONSTRAINT [PK_tbl_thana] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_treatment]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_treatment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[observation] [varchar](300) NULL,
	[date] [date] NOT NULL,
	[doctor_id] [int] NOT NULL,
	[disease_id] [int] NOT NULL,
	[medicine_id] [int] NOT NULL,
	[dose] [varchar](20) NOT NULL,
	[quantity] [int] NOT NULL,
	[note] [varchar](200) NULL,
	[dose_rules] [varchar](20) NOT NULL,
	[center_id] [int] NOT NULL,
	[service_taken_id] [int] NOT NULL,
 CONSTRAINT [PK__tbl_trea__3213E83F601EA966] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[v_disease_report]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_disease_report]
AS
SELECT        dbo.tbl_district.id AS district_id, dbo.tbl_service_taken.patient_id, dbo.tbl_treatment.center_id, dbo.tbl_treatment.date, dbo.tbl_treatment.disease_id
FROM            dbo.tbl_district INNER JOIN
                         dbo.tbl_patient ON dbo.tbl_district.id = dbo.tbl_patient.district_id INNER JOIN
                         dbo.tbl_service_taken ON dbo.tbl_patient.id = dbo.tbl_service_taken.patient_id INNER JOIN
                         dbo.tbl_treatment ON dbo.tbl_service_taken.id = dbo.tbl_treatment.service_taken_id

GO
/****** Object:  View [dbo].[v_display_new_center]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_display_new_center]
AS
SELECT        dbo.tbl_center.id, dbo.tbl_center.name, dbo.tbl_center_login.center_code AS code, dbo.tbl_center_login.password
FROM            dbo.tbl_center INNER JOIN
                         dbo.tbl_center_login ON dbo.tbl_center.id = dbo.tbl_center_login.center_id



GO
/****** Object:  View [dbo].[v_generate_pdf_patient_history]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_generate_pdf_patient_history]
AS
SELECT        dbo.tbl_center.name AS [Center Name], dbo.tbl_disease.name AS [Disease Name], dbo.tbl_doctor.name AS [Doctor Name], dbo.tbl_medicine.name AS [Medicine Name], dbo.tbl_medicine.power AS Power, 
                         dbo.tbl_medicine.type AS Type, dbo.tbl_patient.voter_id AS [Voter Id], dbo.tbl_service_taken.patient_id AS [Patient Id], dbo.tbl_treatment.observation AS Observation, dbo.tbl_treatment.date AS Date, 
                         dbo.tbl_treatment.dose AS Dose, dbo.tbl_treatment.quantity AS Quantity, dbo.tbl_treatment.note AS Note, dbo.tbl_treatment.dose_rules AS [Dose Rules]
FROM            dbo.tbl_center INNER JOIN
                         dbo.tbl_disease ON dbo.tbl_center.id = dbo.tbl_disease.id INNER JOIN
                         dbo.tbl_doctor ON dbo.tbl_center.id = dbo.tbl_doctor.center_id INNER JOIN
                         dbo.tbl_medicine ON dbo.tbl_center.id = dbo.tbl_medicine.id INNER JOIN
                         dbo.tbl_patient ON dbo.tbl_center.id = dbo.tbl_patient.id INNER JOIN
                         dbo.tbl_service_taken ON dbo.tbl_patient.id = dbo.tbl_service_taken.patient_id INNER JOIN
                         dbo.tbl_treatment ON dbo.tbl_center.id = dbo.tbl_treatment.center_id AND dbo.tbl_disease.id = dbo.tbl_treatment.disease_id AND dbo.tbl_doctor.id = dbo.tbl_treatment.doctor_id AND 
                         dbo.tbl_medicine.id = dbo.tbl_treatment.medicine_id AND dbo.tbl_service_taken.id = dbo.tbl_treatment.service_taken_id

GO
/****** Object:  View [dbo].[v_medicine_stock_report]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_medicine_stock_report]
AS
SELECT        dbo.tbl_medicine_stock_center.center_id, dbo.tbl_medicine_stock_center.quantity, dbo.tbl_medicine.name
FROM            dbo.tbl_medicine_stock_center INNER JOIN
                         dbo.tbl_medicine ON dbo.tbl_medicine_stock_center.medicine_id = dbo.tbl_medicine.id



GO
/****** Object:  View [dbo].[v_patient]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_patient]
AS
SELECT        dbo.tbl_patient.voter_id, dbo.tbl_treatment.observation, dbo.tbl_treatment.date, dbo.tbl_doctor.name AS diseaseName, dbo.tbl_medicine.name AS medicineName, dbo.tbl_center.name AS centerName, 
                         dbo.tbl_district.name AS districtName
FROM            dbo.tbl_treatment INNER JOIN
                         dbo.tbl_medicine ON dbo.tbl_treatment.medicine_id = dbo.tbl_medicine.id INNER JOIN
                         dbo.tbl_disease ON dbo.tbl_treatment.disease_id = dbo.tbl_disease.id INNER JOIN
                         dbo.tbl_doctor ON dbo.tbl_treatment.doctor_id = dbo.tbl_doctor.id INNER JOIN
                         dbo.tbl_center ON dbo.tbl_treatment.center_id = dbo.tbl_center.id AND dbo.tbl_doctor.center_id = dbo.tbl_center.id INNER JOIN
                         dbo.tbl_district ON dbo.tbl_center.district_id = dbo.tbl_district.id INNER JOIN
                         dbo.tbl_patient ON dbo.tbl_district.id = dbo.tbl_patient.district_id

GO
/****** Object:  View [dbo].[v_patient_history]    Script Date: 04/02/2015 10:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_patient_history]
AS
SELECT        dbo.tbl_service_taken.patient_id, dbo.tbl_patient.voter_id, dbo.tbl_center.name
FROM            dbo.tbl_center INNER JOIN
                         dbo.tbl_patient ON dbo.tbl_center.id = dbo.tbl_patient.id INNER JOIN
                         dbo.tbl_service_taken ON dbo.tbl_patient.id = dbo.tbl_service_taken.patient_id

GO
SET IDENTITY_INSERT [dbo].[tbl_center] ON 

INSERT [dbo].[tbl_center] ([id], [name], [district_id], [thana_id]) VALUES (1, N'Shurjer Hashi', 1, 1)
INSERT [dbo].[tbl_center] ([id], [name], [district_id], [thana_id]) VALUES (2, N'Medinova', 21, 169)
INSERT [dbo].[tbl_center] ([id], [name], [district_id], [thana_id]) VALUES (3, N'Memon', 10, 74)
SET IDENTITY_INSERT [dbo].[tbl_center] OFF
SET IDENTITY_INSERT [dbo].[tbl_center_login] ON 

INSERT [dbo].[tbl_center_login] ([id], [center_id], [center_code], [password]) VALUES (1, 1, N'cvxxPO', N'clITd0eA')
INSERT [dbo].[tbl_center_login] ([id], [center_id], [center_code], [password]) VALUES (2, 2, N'XDRoai', N'uUPz6SWo')
INSERT [dbo].[tbl_center_login] ([id], [center_id], [center_code], [password]) VALUES (3, 3, N'FfKdcz', N'3kswsiNx')
SET IDENTITY_INSERT [dbo].[tbl_center_login] OFF
SET IDENTITY_INSERT [dbo].[tbl_disease] ON 

INSERT [dbo].[tbl_disease] ([id], [name], [description], [treatment_procedure], [preferred_drug]) VALUES (1, N'Fever', N'Fever (also known as pyrexia or a febrile response) is defined as a body temperature above the normal range due to an increase in the temperature regulatory.', N'Paracetamol along with gastric medicine', N'Napa, Ace, Neotack')
INSERT [dbo].[tbl_disease] ([id], [name], [description], [treatment_procedure], [preferred_drug]) VALUES (2, N'Headache', N'Headache is defined as a pain arising from the head or upper neck of the body.', N'Most intermittent tension-type headaches are easily treated with over-the-counter medications.', N'Advil, Vitamin B2')
INSERT [dbo].[tbl_disease] ([id], [name], [description], [treatment_procedure], [preferred_drug]) VALUES (3, N'Abdominal Pain', N'Abdominal pain is pain that you feel anywhere between your chest and groin. This is often referred to as the stomach region or belly.', N'If you have been vomiting, wait 6 hours, and then eat small amounts of mild foods such as rice, applesauce, or crackers. Avoid dairy products.', N'Napa, Ace, Neotack')
SET IDENTITY_INSERT [dbo].[tbl_disease] OFF
SET IDENTITY_INSERT [dbo].[tbl_district] ON 

INSERT [dbo].[tbl_district] ([id], [name], [population]) VALUES (1, N'Barguna', 892781)
INSERT [dbo].[tbl_district] ([id], [name], [population]) VALUES (2, N'Barisal', 2324310)
INSERT [dbo].[tbl_district] ([id], [name], [population]) VALUES (3, N'Bhola', 1776795)
SET IDENTITY_INSERT [dbo].[tbl_district] OFF
SET IDENTITY_INSERT [dbo].[tbl_doctor] ON 

INSERT [dbo].[tbl_doctor] ([id], [name], [degree], [specialization], [center_id]) VALUES (1, N'Dr. Farid Khan', N'MBBS', N'N/A', 1)
INSERT [dbo].[tbl_doctor] ([id], [name], [degree], [specialization], [center_id]) VALUES (2, N'Dr. Mohammad Ali', N'MBBS, FCPS', N'Medicine', 2)
INSERT [dbo].[tbl_doctor] ([id], [name], [degree], [specialization], [center_id]) VALUES (3, N'Dr. Shawon Mukharjee', N'MBBS', N'Heart Specialist', 3)
SET IDENTITY_INSERT [dbo].[tbl_doctor] OFF
SET IDENTITY_INSERT [dbo].[tbl_medicine] ON 

INSERT [dbo].[tbl_medicine] ([id], [name], [power], [type]) VALUES (1, N'Napa', 100, N'mg')
INSERT [dbo].[tbl_medicine] ([id], [name], [power], [type]) VALUES (2, N'Neotack', 20, N'mg')
INSERT [dbo].[tbl_medicine] ([id], [name], [power], [type]) VALUES (3, N'Tuska', 150, N'ml')
SET IDENTITY_INSERT [dbo].[tbl_medicine] OFF
SET IDENTITY_INSERT [dbo].[tbl_medicine_stock_center] ON 

INSERT [dbo].[tbl_medicine_stock_center] ([id], [center_id], [medicine_id], [quantity]) VALUES (1, 1, 3, 60)
INSERT [dbo].[tbl_medicine_stock_center] ([id], [center_id], [medicine_id], [quantity]) VALUES (2, 1, 4, 100)
INSERT [dbo].[tbl_medicine_stock_center] ([id], [center_id], [medicine_id], [quantity]) VALUES (3, 1, 1, 80)
SET IDENTITY_INSERT [dbo].[tbl_medicine_stock_center] OFF
SET IDENTITY_INSERT [dbo].[tbl_patient] ON 

INSERT [dbo].[tbl_patient] ([id], [voter_id], [district_id]) VALUES (1, 5644309456813, 18)
INSERT [dbo].[tbl_patient] ([id], [voter_id], [district_id]) VALUES (2, 9509623450915, 10)
SET IDENTITY_INSERT [dbo].[tbl_patient] OFF
SET IDENTITY_INSERT [dbo].[tbl_service_taken] ON 

INSERT [dbo].[tbl_service_taken] ([id], [patient_id]) VALUES (1, 1)
INSERT [dbo].[tbl_service_taken] ([id], [patient_id]) VALUES (8, 1)
INSERT [dbo].[tbl_service_taken] ([id], [patient_id]) VALUES (9, 1)
SET IDENTITY_INSERT [dbo].[tbl_service_taken] OFF
SET IDENTITY_INSERT [dbo].[tbl_thana] ON 

INSERT [dbo].[tbl_thana] ([id], [name], [district_id]) VALUES (1, N'Amtali', 1)
INSERT [dbo].[tbl_thana] ([id], [name], [district_id]) VALUES (2, N'Bamna', 1)
INSERT [dbo].[tbl_thana] ([id], [name], [district_id]) VALUES (3, N'Barguna Sadar', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_thana] OFF
SET IDENTITY_INSERT [dbo].[tbl_treatment] ON 

INSERT [dbo].[tbl_treatment] ([id], [observation], [date], [doctor_id], [disease_id], [medicine_id], [dose], [quantity], [note], [dose_rules], [center_id], [service_taken_id]) VALUES (2, N'N/A', CAST(0x8F390B00 AS Date), 1, 1, 1, N'0+0+1', 10, N'N/A', N'After Meal', 1, 12)
INSERT [dbo].[tbl_treatment] ([id], [observation], [date], [doctor_id], [disease_id], [medicine_id], [dose], [quantity], [note], [dose_rules], [center_id], [service_taken_id]) VALUES (3, N'N/A', CAST(0x90390B00 AS Date), 2, 3, 4, N'1+1+1+1', 20, N'Continue for 7 days', N'Before Meal', 2, 13)
INSERT [dbo].[tbl_treatment] ([id], [observation], [date], [doctor_id], [disease_id], [medicine_id], [dose], [quantity], [note], [dose_rules], [center_id], [service_taken_id]) VALUES (4, N'Nothing serious', CAST(0x8F390B00 AS Date), 2, 2, 4, N'1+1+1', 15, N'Continue for 5 days', N'After Meal', 2, 14)
SET IDENTITY_INSERT [dbo].[tbl_treatment] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_disease]    Script Date: 04/02/2015 10:48:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_disease] ON [dbo].[tbl_disease]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_medicine]    Script Date: 04/02/2015 10:48:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_medicine] ON [dbo].[tbl_medicine]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tbl_pati__B79503122089AC27]    Script Date: 04/02/2015 10:48:42 ******/
ALTER TABLE [dbo].[tbl_patient] ADD  CONSTRAINT [UQ__tbl_pati__B79503122089AC27] UNIQUE NONCLUSTERED 
(
	[voter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_center]  WITH CHECK ADD  CONSTRAINT [FK_tbl_center_tbl_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_center] CHECK CONSTRAINT [FK_tbl_center_tbl_district]
GO
ALTER TABLE [dbo].[tbl_center]  WITH CHECK ADD  CONSTRAINT [FK_tbl_center_tbl_thana] FOREIGN KEY([thana_id])
REFERENCES [dbo].[tbl_thana] ([id])
GO
ALTER TABLE [dbo].[tbl_center] CHECK CONSTRAINT [FK_tbl_center_tbl_thana]
GO
ALTER TABLE [dbo].[tbl_center_login]  WITH CHECK ADD  CONSTRAINT [FK_tbl_center_login_tbl_center] FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_center] ([id])
GO
ALTER TABLE [dbo].[tbl_center_login] CHECK CONSTRAINT [FK_tbl_center_login_tbl_center]
GO
ALTER TABLE [dbo].[tbl_doctor]  WITH CHECK ADD  CONSTRAINT [FK_tbl_doctor_tbl_center] FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_center] ([id])
GO
ALTER TABLE [dbo].[tbl_doctor] CHECK CONSTRAINT [FK_tbl_doctor_tbl_center]
GO
ALTER TABLE [dbo].[tbl_medicine_stock_center]  WITH CHECK ADD  CONSTRAINT [FK_tbl_medicine_stock_center_tbl_center] FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_center] ([id])
GO
ALTER TABLE [dbo].[tbl_medicine_stock_center] CHECK CONSTRAINT [FK_tbl_medicine_stock_center_tbl_center]
GO
ALTER TABLE [dbo].[tbl_medicine_stock_center]  WITH CHECK ADD  CONSTRAINT [FK_tbl_medicine_stock_center_tbl_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[tbl_medicine] ([id])
GO
ALTER TABLE [dbo].[tbl_medicine_stock_center] CHECK CONSTRAINT [FK_tbl_medicine_stock_center_tbl_medicine]
GO
ALTER TABLE [dbo].[tbl_patient]  WITH CHECK ADD  CONSTRAINT [FK_tbl_patient_tbl_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_patient] CHECK CONSTRAINT [FK_tbl_patient_tbl_district]
GO
ALTER TABLE [dbo].[tbl_service_taken]  WITH CHECK ADD  CONSTRAINT [FK_tbl_service_taken_tbl_patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[tbl_patient] ([id])
GO
ALTER TABLE [dbo].[tbl_service_taken] CHECK CONSTRAINT [FK_tbl_service_taken_tbl_patient]
GO
ALTER TABLE [dbo].[tbl_thana]  WITH CHECK ADD  CONSTRAINT [FK_tbl_thana_tbl_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_thana] CHECK CONSTRAINT [FK_tbl_thana_tbl_district]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_center] FOREIGN KEY([center_id])
REFERENCES [dbo].[tbl_center] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_center]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_disease] FOREIGN KEY([disease_id])
REFERENCES [dbo].[tbl_disease] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_disease]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[tbl_doctor] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_doctor]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_medicine] FOREIGN KEY([medicine_id])
REFERENCES [dbo].[tbl_medicine] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_medicine]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_service_taken] FOREIGN KEY([service_taken_id])
REFERENCES [dbo].[tbl_service_taken] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_service_taken]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_district"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 119
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_patient"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_service_taken"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 102
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_treatment"
            Begin Extent = 
               Top = 6
               Left = 662
               Bottom = 136
               Right = 836
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_disease_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_disease_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_disease_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_center"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_center_login"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_display_new_center'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_display_new_center'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_center"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_disease"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 446
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_doctor"
            Begin Extent = 
               Top = 6
               Left = 484
               Bottom = 136
               Right = 654
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_medicine"
            Begin Extent = 
               Top = 6
               Left = 692
               Bottom = 136
               Right = 862
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_patient"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 251
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_service_taken"
            Begin Extent = 
               Top = 138
               Left = 246
               Bottom = 234
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_treatment"
            Begin Extent = 
               Top = 138
               Left = 454
               Bottom = 268
               Right = 628
            End' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_generate_pdf_patient_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_generate_pdf_patient_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_generate_pdf_patient_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_medicine_stock_center"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_medicine"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_medicine_stock_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_medicine_stock_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_treatment"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "tbl_patient"
            Begin Extent = 
               Top = 6
               Left = 458
               Bottom = 119
               Right = 628
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_medicine"
            Begin Extent = 
               Top = 6
               Left = 666
               Bottom = 136
               Right = 836
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_disease"
            Begin Extent = 
               Top = 102
               Left = 250
               Bottom = 232
               Right = 450
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_doctor"
            Begin Extent = 
               Top = 120
               Left = 488
               Bottom = 250
               Right = 658
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "tbl_center"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_district"
            Begin Extent = 
               Top = 234
               Left = 246
               Bottom = 347
               Right = 416
            End
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'          DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_patient'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_center"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 162
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_patient"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 134
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_service_taken"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 122
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_patient_history'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_patient_history'
GO
USE [master]
GO
